{% extends "base.html" %} {% block content %}

<section class="Attacks" id="AttacksOnApplication">
    <div class="container">
        <!-- Heading -->
        <div class="heading text-center mb-5">
            <h1>Attacks on Application</h1>
            <p>
                In this project, the implementation of AWS WAF and a honeypot link aims to defend against three primary
                attacks: SQL injection, Cross-Site Scripting (XSS), and brute force attacks. AWS WAF filters and blocks
                malicious requests, effectively mitigating SQL injection attempts by analyzing patterns in the honeypot
                link's access. It also guards against XSS by identifying and blocking suspicious payloads. Additionally,
                the honeypot aids in monitoring brute force attacks, allowing for the logging of repeated attempts and
                enabling rate limiting to restrict malicious IP addresses. Together, these measures enhance the overall
                security of the web application.
            </p>
        </div>
  
        <!-- Box Container -->
        <div class="row text-center">
            <!-- SQL Injection -->
            <div class="col-md-4">
                <div class="box p-4">
                    <img src="img/logo-chrome.svg" class="img-fluid mb-3" alt="logo-chrome">
                    <h3>SQL Injection</h3>
                    <p>Exploits serious vulnerabilities in database queries to inject malicious SQL code.</p>
                    <a href="https://en.wikipedia.org/wiki/SQL_injection" class="btn btn-primary">More...</a>
                </div>
            </div>
  
            <!-- Cross-Site Scripting (XSS) -->
            <div class="col-md-4">
                <div class="box p-4">
                    <img src="img/logo-firefox.svg" class="img-fluid mb-3" alt="logo-firefox">
                    <h3>Cross-Site Scripting (XSS)</h3>
                    <p>Injects malicious scripts into webpages to affect users who visit them.</p>
                    <a href="https://en.wikipedia.org/wiki/Cross-site_scripting" class="btn btn-primary">More...</a>
                </div>
            </div>
  
            <!-- Brute Force Attacks -->
            <div class="col-md-4">
                <div class="box p-4">
                    <img src="img/logo-opera.svg" class="img-fluid mb-3" alt="logo-opera">
                    <h3>Brute Force Attacks</h3>
                    <p>Systematically tries all possible combinations to crack passwords or encryption.</p>
                    <a href="https://en.wikipedia.org/wiki/Brute-force_attack" class="btn btn-primary">More...</a>
                </div>
            </div>
        </div>
    </div>
  </section>


{% endblock %}
