<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div id="alert-containers" class="alert-container">
      {% for category, message in messages %}
      <div
        class="alert alert-{{ category }} alert-dismissible flash-message fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

  

    <nav class="navbar navbar-expand-lg bg-black text-white">
      <div class="container-fluid text-white">
        <a class="navbar-brand text-white" href="/">Honeypot Application</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div
          class="justify-content-center collapse navbar-collapse"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/attacks">Attacks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
          <div class="d-flex gap-1" role="search">
            {% if user %}
            <a class="btn btn-primary text-white" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-primary text-white" href="/login">Login</a>
            <a class="btn btn-outline-primary text-white" href="/register">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main class="container-fluid mt-5">
      {% block content %} {% endblock %}
      <!-- Honeypot Link (Hidden using CSS to avoid accidental clicks by users) -->
      <div class="container mt-3">
        <a href="/admin_pannel" id="honeypotlink" style="display: none">Go to The Admin Panel</a>
      <button id="honeypotbutton" class="btn btn-outline-danger position-absloute bottom-0 end-0">Show Honeypot Link</button>
      </div>
    </main>

    <footer class="bg-dark text-white pt-4">
      <div class="container">
          <div class="row">
              <!-- Brand Name Section -->
              <div class="col-md-4 mb-4">
                  <h5>Secure Web Application<br> Using HoneyPot</h5>
                  
              </div>
  
              <!-- Links Section -->
              <div class="col-md-4 mb-4">
                  <h5>Quick Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="/home" class="text-white">Home</a></li>
                      <li><a href="/about" class="text-white">About</a></li>
                      <li><a href="/attacks" class="text-white">Attacks</a></li>
                      <li><a href="/contact" class="text-white">Contact</a></li>
                  </ul>
              </div>
  
              <!-- Contact Section -->
              <div class="col-md-4 mb-4">
                  <h5>Contact Us</h5>
                  <ul class="list-unstyled">
                      <li><i class="fas fa-envelope"></i>honeypot@gmail.com</li>
                      <li><i class="fas fa-phone"></i> +123-456-7890</li>
                      <li><i class="fas fa-map-marker-alt"></i>Amrita Sai, Paritala</li>
                  </ul>
              </div>
          </div>
  
          <!-- Copyright -->
          <div class="text-center py-3">
              <p>&copy; 2024 Secure Web Application | All Rights Reserved</p>
          </div>
      </div>
  </footer>
  

    <script src="/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
